.contentarea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 270px;
}

.sections {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  min-width: 60%;
}

.sections img {
  height: auto;
  object-fit: contain;
  width: 35vw;
  min-width: 400px;
}
.sections .sectiondata {
  max-width: 345px;
  padding-top: 30px;
  display: flex;
  /* background-color: aqua; */
  flex-direction: column;
}

.sections .sectiondata h1,
.sections .sectiondata p {
  display: flex;
  flex-wrap: wrap;
}

.sections .sectiondata h1 {
  font-size: clamp(20px, 4vw, 40px);
  line-height: 1.2;
  color: rgb(45, 44, 44);
}

.sections .sectiondata p {
  line-height: 1.5;
  margin-top: 30px;
  font-size: clamp(16px, 2vw, 20px);
  padding-right: 20px;
}

.readydownload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}

.readydownload button {
  height: auto;
  padding: 15px 35px;
  background-color: #404eed;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: auto;
  display: flex;
  cursor: pointer;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.readydownload button:active {
  transform: scale(0.98);
}

.sectionslast {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sectionslast .sectiondatalast {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  justify-content: center;
  max-width: 850px;
  gap: 30px;
}

.sectionslast .sectiondatalast h1 {
  font-size: clamp(20px, 4vw, 40px);
  width: auto;
  font-weight: 900;
}

.sectionslast .sectiondatalast p {
  font-size: 20px;
  flex-wrap: wrap;
  display: flex;
  font-weight: 400;
  padding-right: 20px;
  width: 100%;
}

.sectionslast img {
  height: auto;
  object-fit: contain;
  width: clamp(20px, 90vw, 1300px);
}

@media screen and (max-width: 698px) {
  .sections {
    flex-direction: column;
    /* background-color: #404eed; */
    width: 100%;
    position: relative;
    align-items: center;
  }

  .sections .sectiondata {
    /* background-color: aqua; */
    min-width: 100%;
    padding: 0px 20px;
  }
}
